@import "./scss/global";
@import "./scss/functions";
@import "./scss/variables";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    color: $text;
    font-family: $paragraph;
}

nav{
    height: 50px;
    width: 100%;
    background: $primary;
    position: relative;
    z-index: 10;
    @include flex(row, center, center);

    ul{
        @include flex(row, center, center);

        li{
            list-style: none;
            padding: 0 50px;

            a{
                text-transform: uppercase;
                color: #fefefe;
                text-decoration: none;
                font-weight: 300;
                opacity: .75;
                font-size: 14px;
                letter-spacing: .25em;
            
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}

.hero{
    width: 100%;
    height: 85vh;
    background: url('../img/bg.png') center center no-repeat;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    @include flex(column, center, center);

    .container{
        @include flex(column, center, center);
        margin-top: -100px;

        span{
            font-family: $subtitle;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .25em;
            border-bottom: 2px solid #fefefe;
            padding-bottom: 10px;
            opacity: .75;
        }
        h1{
            font-family: $title;
            text-transform: uppercase;
            font-size: 62px;
            letter-spacing: .75em;
            margin-top: 50px;
        }
        button{
            background: transparent;
            text-transform: uppercase;
            margin-top: 50px;
            font-family: $subtitle;
            letter-spacing: .25em;
            color: $text;
            border: none;
            padding: 20px 20px;
            background: url('../img/button.png') center center no-repeat;
            background-size: cover;

            &:hover{
                cursor: pointer;
                transform: translate(0px, -2px);
            }

            &:active{
                transform: translate(0px, 2px);
            }

            &:focus{
                outline: none;
            }
        }
    }
}

.video-container{
    @include flex(column, center, center);
    width: 100%;
    height: 450px;
    left: 0;
    position: absolute;
    margin-top: -200px;
    .video{
        @include flex(column, center, center);
        width: 800px;
        height: 100%;
        background: url('../img/video.png') center center no-repeat;
        background-size: cover;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.39);

        .play{
            width: 100px;
            height: 100px;
            background: url('../img/play.png');
        }
    }
}
main{
    background: $primary;
    width: 100%;
    height: auto;

    .container{
        padding: 0 550px;
    }
    

    .content{
        padding-top: 300px;
        p{
            font-size: 32px;
        }
    }
    
    .about{
        margin-top: 125px;
        span{
            @include title();
        }
        p{
            margin-top: 50px;
            font-size: 20px;
            letter-spacing: .15em;
            font-family: $paragraph;
            font-weight: 400;
            line-height: 30px;
        }
    }
    
    .media{
        margin-top: 125px;
        width: 100%;
        
        span{
            @include title();
        }

        .wrapper{
            @include flex(row, space-between, center);
            flex-wrap: wrap;
            margin-top: 50px;
            
            .item{
                width: 45%;
                height: 225px;
                background: blue;
                margin-bottom: 75px;
                cursor: pointer;
                box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.39);
                border-radius: 5px;

                &:nth-child(1){
                    background: url('../img/media/1.png') center center no-repeat;
                    background-size: cover;
                }
                &:nth-child(2){
                    background: url('../img/media/2.png') center center no-repeat;
                    background-size: cover;
                }
                &:nth-child(3){
                    background: url('../img/media/3.png') center center no-repeat;
                    background-size: cover;
                }
                &:nth-child(4){
                    background: url('../img/media/4.png') center center no-repeat;
                    background-size: cover;
                }

                &:hover{
                    transform: scale(1.025);
                }

                &:active{
                    transform: scale(.975);
                }
            }
        }
    }

    .reviews{
        padding: 75px 0;

        .single-review{
            width: 100%;
            @include flex(column, center, center);
            p{
                font-size: 34px;
                text-align: center;
            }
            span{
                margin-top: 15px;
                opacity: .5;
                letter-spacing: .25em;
            }
        }

        .review-items{
            margin-top: 150px;
            
            span{
                @include title();
            }

            .wrapper{
                @include flex(column, center, flex-start);

                .review{
                    width: 75%;
                    margin-top: 50px;
                    
                    p{
                        font-size: 14px;
                        letter-spacing: .25em;
                        line-height: 22px;
                        padding-right: 25%;
                    }

                    span{
                        border: none;
                        font-size: 11px;
                        opacity: .5;
                        padding: 5px 0 0 0 !important;
                    }
    
                    &:nth-child(even){
                        align-self: flex-end;
                        text-align: right;

                        p{
                            padding: 0 0 0 25%;
                        }
                    }
                }
            }
        }
    }

    .download{
        margin-top: 75px;
        span{
            @include title();
            padding: 0 120px 0 20px ;

            .span{
                padding-top: 5px;
                padding-left: 20px;
                border-left: 7.5px solid $theme;
            }
        }

        .wrapper{
            margin-top: 75px;
            padding-bottom: 75px;
            @include flex(column, center, flex-start);

            .android{
                @include flex(row, center, center);
                button{
                    background: url('../img/play_store.png') center center no-repeat;
                    background-size: cover;
                    width: 220px;
                    height: 70px;

                    &:hover{
                        cursor: pointer;
                        transform: translate(0px, -2px);
                    }
        
                    &:active{
                        transform: translate(0px, 2px);
                    }
        
                    &:focus{
                        outline: none;
                    }
                }
                a{
                    margin-left: 50px; 
                    text-transform: uppercase;
                    letter-spacing: .25em;
                }
            }
            .apple{
                margin-top: 50px;
                @include flex(row, center, center);
                button{
                    background: url('../img/app store.png') center center no-repeat;
                    background-size: cover;
                    width: 220px;
                    height: 70px;

                    &:hover{
                        cursor: pointer;
                        transform: translate(0px, -2px);
                    }
        
                    &:active{
                        transform: translate(0px, 2px);
                    }
        
                    &:focus{
                        outline: none;
                    }
                }
                a{
                    margin-left: 50px; 
                    text-transform: uppercase;
                    letter-spacing: .25em;
                }
            }
        }
    }
}

footer{
    background: #121212;
    width: 100%;
    height: 150px;
    padding: 150px 0;
    @include flex(column, center, center);

    span{
        text-transform: uppercase;
        font-family: $title;
        font-size: 28px;
        text-align: center;
        opacity: .5;
    }
}