@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,400;1,600&family=Roboto:wght@100;400;500;700&display=swap');

@font-face {
    font-family: 'Berserker';
    src: url(../../fonts/berserker/Berserker-Regular.otf) format("opentype");
}

$title: 'Berserker', sans-serif;
$subtitle: 'Poppins', sans-serif;
$paragraph: 'Roboto', sans-serif;
